<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置增强 -->
    <bean id="beforeAdvice" class="com.cbam.demo.hrbust.MyBeforeAdvice"/>

    <!-- 配置目标对象 -->
    <bean id="target" class="com.cbam.demo.hrbust.ForumService"/>

    <!-- 配置静态方法名匹配切面 -->
    <bean id="staticAdvisor" class="com.cbam.demo.hrbust.MyAdvisor">
        <property name="advice">
            <ref bean="beforeAdvice"/>
        </property>
    </bean>

    <!-- 配置正则表达式切面 -->
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref bean="beforeAdvice"/>
        </property>
        <property name="patterns">
            <value>.*remove.*</value>
        </property>
    </bean>


    <!-- 配置动态切点 -->
    <bean id="dynamicPointcut" class="com.cbam.demo.hrbust.MyDynamicPointcut"/>
    <!-- 配置动态切面 -->
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice">
            <ref bean="beforeAdvice"/>
        </property>
        <property name="pointcut">
            <ref bean="dynamicPointcut"/>
        </property>
    </bean>


    <!-- 配置代理对象 -->
    <bean id="service" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.cbam.demo.hrbust.ForumServiceInterface</value>
        </property>
        <property name="target">
            <ref bean="target"/>
        </property>
        <property name="interceptorNames">
            <list>
                <!--<idref local="beforeAdvice"/>-->
                <!--<idref local="staticAdvisor"/>-->
                <!--<idref local="regexpAdvisor"/>-->
                <!--<idref local="dynamicAdvisor"/>-->
                <value>beforeAdvice</value>
                <value>staticAdvisor</value>
                <value>regexpAdvisor</value>
                <value>dynamicAdvisor</value>
            </list>
        </property>
        <property name="proxyTargetClass">
            <value>false</value>
        </property>
    </bean>


</beans>